<!doctype html>
<html>

<head>
  <base href="/">
  <script src="/dmxAppConnect/dmxAppConnect.js"></script>
  <meta charset="UTF-8">
  <title>Untitled Document</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/bootstrap/5/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="/dmxAppConnect/dmxRouting/dmxRouting.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxValidator/dmxValidator.css" />
  <script src="/dmxAppConnect/dmxValidator/dmxValidator.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxNotifications/dmxNotifications.css" />
  <script src="/dmxAppConnect/dmxNotifications/dmxNotifications.js" defer></script>
  <script src="/dmxAppConnect/dmxBrowser/dmxBrowser.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Modal/dmxBootstrap5Modal.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Navigation/dmxBootstrap5Navigation.js" defer></script>
  <script src="/dmxAppConnect/dmxBootbox5/bootstrap-modbox.min.js" defer></script>
  <script src="/dmxAppConnect/dmxBootbox5/dmxBootbox5.js" defer></script>
  <meta name="description" content="<%=_('global_seo_query.description')%>">
  <link rel="canonical" href="<%=_('global_seo_query.canonical')%>">
  <meta name="keywords" content="<%=_('global_seo_query.keywords')%>">
  <meta property="og:site_name" content="<%=_('global_seo_query.og_sitename')%>">
  <meta property="og:title" content="<%=_('global_seo_query.og_title')%>">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="icon" href="/assets/images/favicon.ico">
  <link rel="stylesheet" href="/dmxAppConnect/dmxBootstrap5TableGenerator/dmxBootstrap5TableGenerator.css" />
  <link rel="stylesheet" href="/dmxAppConnect/dmxDropzone/dmxDropzone.css" />
  <script src="/dmxAppConnect/dmxDropzone/dmxDropzone.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxSummernote/summernote-bs5.min.css" />
  <script src="/dmxAppConnect/dmxSummernote/summernote-bs5.min.js" defer></script>

  <script src="/dmxAppConnect/dmxSummernote/dmxSummernote.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxSummernote/summernote-lite.min.css" />
  <script src="/dmxAppConnect/dmxSummernote/summernote-lite.min.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxSummernote/summernote-bs4.min.css" />
  <script src="/dmxAppConnect/dmxSummernote/summernote-bs4.min.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxSummernote/summernote.min.css" />
  <script src="/dmxAppConnect/dmxSummernote/summernote.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-ar-AR.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-az-AZ.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-bg-BG.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-bn-BD.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-ca-ES.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-cs-CZ.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-da-DK.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-de-CH.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-de-DE.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-el-GR.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-en-US.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-es-ES.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-es-EU.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-fa-IR.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-fi-FI.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-fr-FR.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-gl-ES.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-he-IL.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-hr-HR.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-hu-HU.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-id-ID.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-it-IT.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-ja-JP.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-ko-KR.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-lt-LT.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-lt-LV.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-mn-MN.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-nb-NO.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-nl-NL.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-pl-PL.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-pt-BR.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-pt-PT.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-ro-RO.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-ru-RU.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-sk-SK.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-sl-SI.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-sr-RS-Latin.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-sr-RS.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-sv-SE.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-ta-IN.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-th-TH.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-tr-TR.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-uk-UA.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-uz-UZ.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-vi-VN.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-zh-CN.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/lang/summernote-zh-TW.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernoteFileUpload/summernote-upload.js" defer></script>
  <script src="/dmxAppConnect/dmxFormRepeat/dmxFormRepeat.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@1/Sortable.min.js"></script>
</head>

<body is="dmx-app" id="main">
  <div is="dmx-browser" id="browser1"></div>
  <dmx-serverconnect id="conn_layout_whoami" url="/api/registration/whoami"></dmx-serverconnect>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Visit Bedford {{conn_layout_whoami.data.query_whoami.first_name+' '+conn_layout_whoami.data.query_whoami.last_name}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar1_collapse" aria-controls="navbar1_collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar1_collapse">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home</a>
            <a class="nav-item nav-link" href="#">Business</a>

            <a class="nav-item nav-link" href="#">Places to Go &amp; See</a>
            <a class="nav-item nav-link" href="#">News</a>
            <a class="nav-item nav-link" href="#">Where to Stay</a>
            <a class="nav-item nav-link" href="#">Jobs</a>
            <a class="nav-item nav-link" href="#">What's On</a>
            <div class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbar1_dropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account&nbsp;</a>
              <div class="dropdown-menu" aria-labelledby="navbar1_dropdown">
                <a class="dropdown-item" href="/register" id="register" internal="true" dmx-hide="conn_layout_whoami.data.identity&gt;0">Register</a>
                <a class="dropdown-item" href="/login" dmx-show="conn_layout_whoami.data.identity&lt;1" internal="true">Login</a>
                <a class="dropdown-item" href="#" dmx-on:click="run({'bootbox.confirm':{name:'YesNo',message:'Are you sure you wish to logout?',title:'Logout?',buttons:{confirm:{label:'Logout'},cancel:{label:'Cancel'}},then:{steps:[{serverConnect:{name:'sc',outputType:'object',url:'/api/registration/logout',site:'Community Web'}},{run:{outputType:'text',action:`browser1.goto(\'/\')`}},{comment:{msg:'It\'s important these Browser Goto\'s do NOT say internal, so that the page is refreshed and the logout status is reflected. Otherwise they\'d go to the page and navigate around as if they\'re still logged in.'}}]}}})" dmx-show="conn_layout_whoami.data.identity&gt;0">Log Out</a>
                <div class="dropdown-divider" dmx-show="conn_layout_whoami.data.identity&gt;0"></div>
                <a class="dropdown-item" href="#" dmx-show="conn_layout_whoami.data.identity&gt;0">My Account</a>
              </div>
            </div>
            <a class="nav-item nav-link" href="#">Contacts</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div is="dmx-view" id="content">
    <%- await include(content, locals); %>
  </div>
  <script src="/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</body>

</html>